<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% include 'head.html' %}
</head>
<body>

<!-- Wrap div -->
<div id="wrap">

	{% include 'top.html' %}

	<!-- Main Container -->
	<div id="cnt" class="pngf">

		<!-- Left Column -->
		<div id="lcnt">
			
			<!-- Post -->
			<div class="post">
				
				<!-- Post Date -->
				<dl class="date">
					<dt>
						<span>15</span>
					</dt>
					<dd>
						<span>January</span>
					</dd>
					<dd>
						<span>2009</span>
					</dd>
				</dl>
				
				<!-- Post Title - Permalink -->
				<h3 class="pngf">
					<a href="article.html">Building under construction</a><br />

					<!-- Post Details -->
					<span class="pngf">Posted in graphics</span>
				</h3>
			
				<!-- Post Content -->
				<div class="bl">3</div>

				<div class="bar"></div>			
				<a href="article.html">
				<img src="images/post_image2.jpg" alt="pi2" />
				</a>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer massa. Duis vel libero vitae leo placerat blandit. Sed a nisi ac turpis facilisis facilisis. Pellentesque ut enim. Nam mollis ante. Quisque a eros. Fusce rutrum. Donec suscipit lobortis turpis. Vivamus urna erat, dictum eget, vehicula sit amet, malesuada vel, ligula. Nam ac neque. Nullam pulvinar blandit eros. Etiam sed magna eget quam lacinia feugiat. Morbi dictum lacus eget odio. Vestibulum ut ante a mi auctor sagittis. Proin malesuada, lectus in ultricies semper, lorem nisl dictum arcu, ac porta urna urna sed dolor. Mauris ligula. Aenean tristique, nunc sit amet ornare tempus, sapien nunc laoreet erat, vel tincidunt purus sem quis justo. Donec dignissim risus quis purus. Nullam sed diam at augue vehicula.
				</p>
				
				<!-- Read More -->
				<a class="more-link pngf" href="#"></a>
				
				<hr />

			</div>

			<!-- Post -->
			<div class="post">

				<!-- Post Date -->
				<dl class="date">
					<dt>
						<span>14</span>
					</dt>
					<dd>
						<span>January</span>
					</dd>
					<dd>
						<span>2009</span>
					</dd>
				</dl>

				<!-- Post Title - Permalink -->
				<h3 class="pngf">
					<a href="#">Grungy in love</a><br />

					<!-- Post Details -->
					<span class="pngf">Posted in graphics</span>
				</h3>
			
				<!-- Post Content -->
				<div class="bl">64</div>

				<div class="bar"></div>			

				<img src="images/post_image3.jpg" alt="pi3" />

				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer massa. Duis vel libero vitae leo placerat blandit. Sed a nisi ac turpis facilisis facilisis. Pellentesque ut enim. Nam mollis ante. Quisque a eros. Fusce rutrum. Donec suscipit lobortis turpis. Vivamus urna erat, dictum eget, vehicula sit amet, malesuada vel, ligula. Nam ac neque. Nullam pulvinar blandit eros. Etiam sed magna eget quam lacinia feugiat. Morbi dictum lacus eget odio. Vestibulum ut ante a mi auctor sagittis. Proin malesuada, lectus in ultricies semper, lorem nisl dictum arcu, ac porta urna urna sed dolor. Proin malesuada, lectus in ultricies semper, lorem nisl dictum arcu, ac porta urna urna sed dolor.
				</p>
				
				<!-- Read More -->
				<a class="more-link pngf" href="#"></a>
				
				<hr />
			
			</div>

			<!-- Pagination -->
			<div id="pagination">
				<a class="prev_active pngf" href="#"></a>
				<a class="pag_num pngf" href="#">1</a>
				<span class="pag_num_act pngf">2</span>
				<a class="pag_num pngf" href="#">3</a>
				<a class="pag_num pngf" href="#">4</a>
				<a class="next pngf" href="#"></a>

			</div>

		</div>
		{% include 'right.html' %}
		<br style="clear:both;"/>

	</div>

</div>

{% include 'footer.html' %}


</body>
</html>
