<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% include 'head.html' %}
</head>

<body>

<!-- Wrap div -->
<div id="wrap">

	{% include 'top.html' %}

	<!-- Main Container -->
	<div id="cnt" class="pngf">

		<!-- Left Column -->
		<div id="lcnt">
			
			<!-- Post -->
			<div class="post">
				
				<!-- Post Date -->
				<dl class="date">
					<dt>
						<span>15</span>
					</dt>
					<dd>
						<span>January</span>
					</dd>
					<dd>
						<span>2009</span>
					</dd>
				</dl>
				
				<!-- Post Title - Permalink -->
				<h3 class="pngf">
					<a href="#">Building under construction</a><br />

					<!-- Post Details -->
					<span class="pngf">Posted in graphics</span>
				</h3>
			
				<!-- Post Content -->
				<div class="bl">3</div>

				<div class="bar"></div>			

				<img src="images/post_image2.jpg" alt="photo" />

				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer massa. Duis vel libero vitae leo placerat blandit. Sed a nisi ac turpis facilisis facilisis. Pellentesque ut enim. Nam mollis ante. Quisque a eros. Fusce rutrum. Donec suscipit lobortis turpis. Vivamus urna erat, dictum eget, vehicula sit amet, malesuada vel, ligula. Nam ac neque. Nullam pulvinar blandit eros. Etiam sed magna eget quam lacinia feugiat. Morbi dictum lacus eget odio. Vestibulum ut ante a mi auctor sagittis. Proin malesuada, lectus in ultricies semper, lorem nisl dictum arcu, ac porta urna urna sed dolor. Mauris ligula. Aenean tristique, nunc sit amet ornare tempus, sapien nunc laoreet erat, vel tincidunt purus sem quis justo. Donec dignissim risus quis purus. Nullam sed diam at augue vehicula.
				</p>

			</div>
		
			<div class="cmt_nu pngf">3</div>

			<div id="comments">
			
				<div class="comment">
				
					<div class="cmmnt_hdr">

						<p> 1. Designer</p>
						<span class="cmmnt_time">February 28, 2009 11:58</span>

					</div>

					<div class="cmmnt_txt">
						<div class="hbar pngf"></div>
						Thanks for sharing. I think you guys do an awesome job. Your icons and graph- ics are awesome - and the tutorials help to keep you ahead of the competition. I like the detail of explanations and the results are a great source of inspiration. Keep it up! When I happen to need a professional icon set, I know whom to ask :)
					</div>

				</div>

				<div class="comment">
				
					<div class="cmmnt_hdr">

						<p> 2. Enrico</p>
						<span class="cmmnt_time">February 28, 2009 11:58</span>

					</div>

					<div class="cmmnt_txt2">
						<div class="hbar pngf"></div>
						I really love your graphics...i do graphics design myself but i cant seem to do these swirls..heheh..what program do you use?
					</div>

				</div>

				<div class="comment">
				
					<div class="cmmnt_hdr">

						<p> 3. Dimitri</p>
						<span class="cmmnt_time">February 28, 2009 11:58</span>

					</div>

					<div class="cmmnt_txt">
						<div class="hbar pngf"></div>
						Your swirls are wonderfull, could you make some tutorial of your best creations !! I didn't find how to create the same background in illustor....
					</div>

				</div>

				<!-- Comment Form -->
				<form action="#" method="post" id="cmntfrm">
					<div id="cmntfs">

						<div class="pyct pngf"></div>

						<p><input type="text" name="author" size="22" tabindex="1" id="author"/><label>Name <span>(required)</span></label></p>
						<p><input type="text" name="email" size="22" tabindex="2" id="email"/><label>E-mail <span>(required)</span></label></p>
						<p><input type="text" name="url" size="22" tabindex="3" id="url"/><label>Website</label></p>
						<p>
							<textarea name="comment" cols="64" rows="10" tabindex="4" id="comment"></textarea>
						</p>
						<p>
							<input type="submit" name="submit" value="Post comment" tabindex="5" id="submit"/>
						</p>
					</div>
				</form>

			</div>

		</div>

		{% include 'right.html' %}

        <br style="clear:both;"/>

	</div>

</div>

{% include 'footer.html' %}
</body>
</html>
